/*
color code:
#092834
#20B2AA
#B22222
*/

body {
	background-color: #092834;

}

#myCanvas {
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}

.navbar-custom {
	height: 4rem;
	/* Full-width */
	background-color: steelblue;
	/* Dark-grey background */
}

.navbar-custom .navbar-brand{
	border:3px solid #FFF;
	border-radius: 10px;
	padding: 0rem;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	font-size: 28px;
	color: white !important;
}

.navbar-custom .navbar-nav .nav-link {
/*	text-align: center;*/
	/* Center-align text */
	transition: all 0.3s ease;
	/* Add transition for hover effects */
	color: white;
	/* White text color */
	font-size: 28px;
	/* Increased font size */

}

.navbar-custom .navbar-nav > li > a:hover {
	color: #000;
}

.dropdown-menu {
	min-width: inherit;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

#bshsize {
	padding-top: 0.5rem;
/*	margin: 1rem;*/
}

.brushSize {
	text-align: center !important;
	font-size: 10px;
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	max-height: 1rem; !important;
	width: 120px;
	color: #d3d3d3;
}

.slider {
	vertical-align: middle;
  -webkit-appearance: none;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #20B2AA;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.inTxt {
	border-style: dashed;
	border-color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0);
	width: auto;
	display: none;
	left: 350px;
	top: 200px;
	position: absolute;
	overflow: visible;
}

